@font-face {
	font-family: "Gordita Medium";
	src: url("ab1b69aa97129f112d6a113d7982c880.eot"); /* IE9*/
	src: url("ab1b69aa97129f112d6a113d7982c880.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("ab1b69aa97129f112d6a113d7982c880.woff2") format("woff2"),
		/* chrome、firefox */ url("ab1b69aa97129f112d6a113d7982c880.woff")
			format("woff"),
		/* chrome、firefox */ url("ab1b69aa97129f112d6a113d7982c880.ttf")
			format("truetype"),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
			url("ab1b69aa97129f112d6a113d7982c880.svg#Gordita Medium") format("svg"); /* iOS 4.1- */
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800&display=swap");
